<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#6c4ac6">
{% seo %}
{% include schema.html %}
<link rel="icon" type="image/png" href="{{ '/assets/img/logo.png' | relative_url }}">
<link rel="apple-touch-icon" href="{{ '/assets/img/logo.png' | relative_url }}">
<link rel="preload" as="font" type="font/woff2" href="{{ '/assets/fonts/77af76e5.woff2' | relative_url }}" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="{{ '/assets/fonts/ea672a3b.woff2' | relative_url }}" crossorigin>
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
